
.container {

    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right , #181333, #020105);
    gap: 20px;
    
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
}

.title {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}


.principalTitle {
    z-index: 2;
    display: flex;
    align-items: center;
    color: rgb(141, 116, 250);
    text-shadow: -2px -2px 2px #292157;
    position: absolute;
    bottom: 0;
    left:38%;
    letter-spacing: 5px;
    font-family: 'font3';
}

.titleRepeated {
    color: rgba(102, 102, 102, 0.2);
    font-size: 75px;
    letter-spacing: 5px;
    font-family: 'font3';
    z-index: 1;
}

.containerProjects {
    width: 100%;
    min-height: 88%;
    height: fit-content;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-bottom: 60px;
}

.projectsDiv {
    width: 850px;
    height: 200px;
    display: flex;
    justify-content:space-between;
    position: relative;
    
}

.projectsDiv img{
    width: 50%;
    height: fit-content;
    max-height: 100%;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.projectsDivReverse {
    width: 850px;
    height: 200px;
    display: flex;
    justify-content:space-between;
    position: relative;
    flex-direction: row-reverse;
}

.projectsDivReverse img {
    width: 50%;
    height: fit-content;
    max-height: 100%;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}


.containerImage {
    width: 60%;
    height: 100%;
    position: relative;
}

.containerImage img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.linksDiv {
    position: absolute;
    width: 30px;
    background: linear-gradient(
        195deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    );
    backdrop-filter: blur(151px);
    -webkit-backdrop-filter: blur(151px);
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    border-radius: 5px;
}

.linksDivReverse {
    position: absolute;
    width: 30px;
    background: linear-gradient(
        195deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    );
    backdrop-filter: blur(151px);
    -webkit-backdrop-filter: blur(151px);
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    border-radius: 5px;
}

.button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background-color: rgb(141, 116, 250);
    cursor: pointer;
    color: white;
    transition: 0.2s ease;
}

.icon {
    width: 23px;
    height: 23px;
}

.projectTitle {
    width: 60%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.projectTitleReverse {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;
    z-index: 1;
    position: relative;
}

.titleProject {
    height: 70%;
}

.info {
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    z-index: 2;
}

.info p {
    border: 1px solid white;
    padding: 2px;
    height: 20px;
    width: 65px;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info p:hover {
    cursor: pointer;
    border: 1px solid rgb(141, 116, 250);
    color: rgb(141, 116, 250);
    font-weight: 700;
    letter-spacing: 0.2px;
    transition: 0.2s ease;
}

.infoReverse {
    height: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
}

.infoReverse p {
    border: 1px solid white;
    padding: 2px;
    height: 20px;
    width: 65px;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoReverse p:hover {
    cursor: pointer;
    border: 1px solid rgb(141, 116, 250);
    color: rgb(141, 116, 250);
    font-weight: 700;
    letter-spacing: 0.2px;
    transition: 0.2s ease;
}

.projectInfo {
    top: 30%;
    height: 80px;
    width: 55%;
    background: linear-gradient(
        195deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(151px);
    -webkit-backdrop-filter: blur(151px);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
    position: absolute;
    font-size: 13px;
    letter-spacing: 1px;
}

.projectInfoReverse {
    top: 30%;
    right: 0;
    height: 80px;
    width: 55%;
    background: linear-gradient(
        195deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(151px);
    -webkit-backdrop-filter: blur(151px);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
    position: absolute;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
}

@media screen and (max-width: 500px) {
    .title {

    }

    .principalTitle {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .containerProjects{
        position: relative;
        
    }

    .projectsDiv{
        gap: 20px;
        width: 90%;
        min-height: 340px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .projectsDivReverse{
        gap: 20px;
        width: 90%;
        min-height: 340px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .containerImage {
        width: 100%;
    }

    .projectTitle {
        position: relative;
        width: 100%;
        gap: 5px;
    }

    .projectTitleReverse {
        position: relative;
        width: 100%;
        gap: 5px;
        text-align: left;
    }

    .projectInfoReverse {
        position: relative;
        width: 100%;
        gap: 5px;
    }

    .infoReverse {
        justify-content: left;
    }

    .projectsDiv img {
        width: 100%;
    }

    .projectInfo {
        width: 100%;
        bottom: 0;
        height: fit-content;
        box-sizing: border-box;
        position: relative;
    }

    .linksDivReverse {
       left: auto;
       right: 0;
    }
}