
.container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right , #181333, #020105);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
}

.title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    box-sizing: border-box;

}

.principalTitle {
    z-index: 2;
    display: flex;
    align-items: center;
    color: rgb(141, 116, 250);
    text-shadow: -2px -2px 2px #292157;
    position: absolute;
    bottom: 0;
    letter-spacing: 5px;
    font-family: 'font3';
    width: fit-content;


}

.secondContainer {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: top;
    position: relative;
}

.info {
    width: 600px;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(
        195deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(21px);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    box-shadow: -3px -3px 1px 0px rgb(141, 116, 250);
    border-radius: 5px;
    position: relative;
    left: 120px;

}

.info2 {
    width: 600px;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(
        195deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(21px);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    box-shadow: -3px -3px 1px 0px rgb(141, 116, 250)    ;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
}

b {
    color: rgb(141, 116, 250);
    text-shadow: -2px -2px 2px #292157;
}

.titleInfo {
    font-weight: 800;
    font-size:20px;
}

.containerAboutMe {
    min-width: 30%;
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.titleRepeated {
    color: rgba(102, 102, 102, 0.2);
    font-size: 75px;
    letter-spacing: 5px;
    font-family: 'font3';
    z-index: 1;
    display: flex;
}

.image {
    width: 300px;
    position: absolute;
    right: 70px;
}

.image img {
    width: 300px;
}

@media screen and (max-width: 500px) {

    .title {
        display: flex;
        flex-direction: column;
        gap:39px;
        align-items: center;
        justify-content: center;
    }

    .principalTitle {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info2 {
        width: 80%;
        height: fit-content;
        margin: 0;
    }

    .info {
        width: 80%;
        left: 0;
        z-index: 2;
        margin-top: 39px;
    }

    .secondContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .image { 
      right: 0;
      bottom: 2px;
      z-index: 2;
      display: none;
    }

    .image img {
        width: 230px;
    }
}