.containerNav {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    background: linear-gradient(to right, #181333, #020105);
}

.containerNav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
}

.containerIconBack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    z-index: 1;
}

.nav {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.secondContainer a{
    color: rgb(141, 116, 250);
    letter-spacing: 2px;
    cursor: pointer;

}

.secondContainer a:hover{
    color: white;
    transition: 0.2s ease;
    
}

.backLandingButton {
    color: rgb(141, 116, 250);
    letter-spacing: 2px;
    cursor: pointer;

}

.backLandingButton:hover {
    color: white;
    transition: 0.2s ease;
}


.backContainer {
    position: absolute;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    left: 15px;
}

.back {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBack {
    position: relative;
    width: 23px;
    height: 23px;
    color: rgb(141, 116, 250);
    z-index: 1;
}

.iconBack:hover {
    color: white;
    transition: 0.2s ease;
}

@media screen and (max-width: 500px) {
    .containerNav {
        height: fit-content;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    .nav {
        min-height:280px;
        height: fit-content;
        flex-direction: column-reverse;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6); 
        backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    

    .containerMenu {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 20px;
        z-index: 1;
        background: none;
    }

    .backContainer {
        position: relative;
        left: 0;
        justify-content: center;
        width: 50%;
    }

    .back {
        width: 100%;
    }

    .secondContainer {
        flex-direction: column;
        gap: 0;
        width: 50%;
    }

    .buttonBurger {
        width: 50px;
        height:80%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        padding-right: 5px;
        margin-left: auto;
    }

    .buttonBurger:hover {
        color: rgb(141, 116, 250);
    }

    .secondContainer a {
        height: 37px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backLandingButton {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerBackLanding {
        width: 100%;
        height: 37px;
    }
}