.footer {
    position: relative;
    width: 100%;
    min-height: 150px;
    height: fit-content;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right , #181333, #020105);
    gap: 20px;
    
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 0; 
}

.copy {
    width: 500px;
    height: 100px;
    padding-left: 15px;
    margin-left: 25px;
    border-left: 2px solid rgb(141, 116, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
}


.footerNavigate {
    display: flex;
    gap: 12px;
    color: white;
}

.footerNavigate a {
    color: rgb(141, 116, 250);
    z-index: 2;
    cursor: pointer;
    font-weight: 700;
}

.footerNavigate a:hover {
    color: white;
    transition: 0.2s ease;
}

.copyright {
    z-index: 2;
    font-size: 13px;
}

.links {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-right: 35px;
}

.button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.icon {
    width: 35px;
    height: 35px;
    z-index: 2;
    color: rgb(131, 104, 250);
}

.icon:hover {
    color: white;
    transition: 0.2s ease;
}

@media screen and (max-width: 768px) {

    .footer {
        gap: 0;
        height: fit-content;
    }

    .copy {
        margin-left: 10px;
        padding-left: 5px;
    }

    .links {
        flex-direction: row;
        align-items: top;
        height: 100%;
    }


    .footerNavigate a {
        width: fit-content;

    }

}


@media screen and (max-width: 600px) {

    .footer {
        gap: 0;
        height: fit-content;
    }

    .copy {
        margin-left: 10px;
        width: 90%;
        padding-left: 5px;
    }

    .links {
        width: 10%;

        margin: 0;
        flex-direction: column;
        gap: 3px;
        align-items: top;
        height: 100%;
    }

    .footerNavigate {
        font-size: 14px;
        flex-wrap: wrap;
    }

    .footerNavigate a {
        width: fit-content;
        height: fit-content;
        word-wrap: break-word;
    }

    .icon {
        width: 24px;
    }
}