.container {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #181333, #020105);
    display: flex;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.containerInfo {
    box-sizing: border-box;
    padding-left: 70px;
    position: relative;
    width: fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: left;
    z-index: 1;
    flex-direction: column;
    gap: 3px;
    white-space: nowrap;
}

.containerInfo h1 {
    width: fit-content;
    margin: 0;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
    z-index: 1;
    font-weight: 400;
}

.containerInfo h1:hover {
    color: #7961ff;
    transition: 0.2s ease;
}

.containerInfo p {
    width: fit-content;
    margin: 0;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    z-index: 1;
    font-weight: 400;
}

.containerInfo p:hover {
    color: #7961ff;
    transition: 0.2s ease;
}

.secondContainer {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    padding: 50px;
}

.next {
    z-index: 1;
    cursor: pointer;
    
}

.iconNext {
    position: relative;
    width: 47px;
    height: 47px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.next:hover .iconNext {
    color: #7961ff;
}

.containerButtonsLink {
    display: flex;
    gap: 25px;
    position: relative;
    margin-top: 7px;
}

.buttonLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 28px;
    border: 1px solid white;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 15px;
    color: white;
}

.buttonLink:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    color: #7961ff;
    transition: 0.2s ease;
}

.iconDownload {
    width: 18px;
}

@media screen and (max-width: 500px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 14px;
    }

    .containerInfo {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        justify-content: center;
        align-items: center;
    }

    .containerInfo h1 {
        font-size: 30px;
    }

    .containerInfo p {
        font-size: 32px;
        word-wrap: break-word;
    }

    .secondContainer {

        flex: 0;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .next {

        width:100%;
        display: flex;
        justify-content: center;    
    }

    .containerButtonsLink {
        display: flex;

    }

    .buttonLink {
        font-size: 15px;
    }
}